.title{
    color: #353C4E;
    font-family: "Roboto",
    sans-serif;
    font-weight: 500;
    margin-bottom: 14px;
}

.subTitle{
    color: #4F5053;
    font-size: 16px;
    font-family: "Roboto",
    sans-serif;
    font-weight: 400;
}