.header {
    border-bottom: 1px solid #f3f3f3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar_brand {
    font-family: Graphik-Medium;
}

.candidates{
    border: 2px solid#428bca;
    color: #428bca !important;
    padding: 5px 30px !important;
    border-radius: 50px;
}

.free_trial{
    border: 2px solid#cc4e41;
    color: #cc4e41 !important;
    padding: 5px 30px !important;
    border-radius: 50px;
}

.navLinks{
    padding: 20px 0;
}

.navLinks .nav-link{
    margin-left: 15px !important;
}

.navLinks .dropdown-menu{
    padding: 0px !important;
}

.navLinks .dropdown-menu .dropdown-item {
    margin-left: 0px !important;
    padding: 16px !important;
}

.navLinks .dropdown-menu .dropdown-item:hover {
    background-color: #f3f3f3 !important;
}
